* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /*Smooth scrolling in safari/IE*/
}

a {
    text-decoration: none !important;
}

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.search-input {
    background-color: #e1e4e8;
    border: 0.5px solid #d1d5da;
    border-radius: 2px;
    width: 400px;
    margin: 5px 0;
}

.text-right {

    float: right;
}